.sidebarContainer {
  position: relative;
}

/* Menu Button */
.menuButton {
  padding: 8px;
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.menuButton:hover {
  color: blue; /* teal-50 equivalent */
  text-shadow: 0 0 10px rgba(167, 243, 208, 0.5);
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  transition: opacity 0.3s ease-in-out;
  z-index: 40;
}

.overlayVisible {
  opacity: 0.5;
  pointer-events: all;
}

.overlayHidden {
  opacity: 0;
  pointer-events: none;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2563eb; 
  color: white;
  z-index: 50;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.sidebarOpen {
  transform: translateX(0);
}

.sidebarClosed {
  transform: translateX(-100%);
}

/* Close Button */
.closeButton {
  position: absolute;
  top: 32px;
  left: 32px;
  padding: 8px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background: #1d4ed8; 
}


.sidebarHeader {
  padding: 80px 64px 50px 64px;
  text-align: right;
}

.sidebarTitle {
  font-size: 1.875rem; 
  font-weight: 300;
  letter-spacing: 0.1em;
  margin: 0;
}
.columnTitle{
    margin-bottom: 20px;
}


.sidebarContent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 120px;
  
 
}

.sidebarContent .menuNav{
    display: flex;
    flex-direction: column;
}
.sidebarContent .menuItem{
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.getFullYear{
    text-align: center;
}