
.page-header {

  background-color: #f9f9f9;

  padding: 20px;

  border-bottom: 1px solid #eee;

}



.header-content {

  display: flex;

  justify-content: space-between;

  align-items: left;

}



.header-main {

  display: flex;

  align-items: center;

  text-align: left;

  justify-content: flex-start;

}



.header-icon {

  margin-right: 15px;

  font-size: 24px;

  color: #333;

}



.header-title {

  font-size: 24px;

  font-weight: 600;

  margin: 0;

}



.header-subtitle {

  font-size: 14px;

  color: #666;

  margin: 5px 0 0;

}



.greeting-section {

  text-align: right;

}



.greeting-text {

  font-size: 16px;

  color: #333;

}



.user-role {

  font-size: 12px;

  color: #888;

  margin-left: 5px;

}



.header-actions {

  display: flex;

  align-items: right;

  gap: 20px;

}



.user-profile {

  display: flex;

  align-items: center;

}



.user-avatar {

  width: 40px;

  height: 40px;

  border-radius: 50%;

  object-fit: cover;

}



.user-avatar-icon {

  width: 40px;

  height: 40px;

  color: #666;

}






